head
  title #{title}
  script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  script(src="./public/js/hostname.js ")
body
  table
    thead
      tr
        th Play
        td timestamp
        td token
    tbody
      each item in matches
        tr
          th
            a(id="a_match" href=`${url_play+item.token}`) Play
          th
            a(id="a_replay" href=`${url_replay+item.token}`) Replay
          td=item.time
          td=item.token